::selection,
::-moz-selection {
    color: var(--contrast-color);
    /* background: #10b981; */
    background: var(--accent-color);
}

input[type="checkbox"]:checked {
    /* accent-color: #10b981; */
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}


.custom-button {
    background-color: var(--accent-color);
    color: var(--contrast-color);
    letter-spacing: 1px;
    box-shadow: 0 5px 15px color-mix(in srgb, var(--accent-color), transparent 70%);
    border: none;
    border-radius: 8px;
    padding: 12px 30px;
    font-size: 16px;
    font-weight: 600;
    transition: all .3s;
}

.custom-button:hover {
    background-color: color-mix(in srgb, var(--accent-color), transparent 15%);
    box-shadow: 0 8px 20px color-mix(in srgb, var(--accent-color), transparent 60%);
    transform: translateY(-3px);
    color: white;
}