::selection,
::-moz-selection {
    color: var(--contrast-color);
    /* background: #10b981; */
    background: var(--accent-color);
}

input[type="checkbox"]:checked {
    /* accent-color: #10b981; */
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}


.custom-button {
    background-color: var(--accent-color) !important;
    color: var(--contrast-color) !important;
    letter-spacing: 1px !important;
    box-shadow: 0 5px 15px color-mix(in srgb, var(--accent-color), transparent 70%) !important;
    border: none !important;
    border-radius: 8px !important;
    padding: 12px 30px !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    transition: all .3s !important;
    color: white !important;
}

.custom-button:hover {
    background-color: color-mix(in srgb, var(--accent-color), transparent 15%);
    box-shadow: 0 8px 20px color-mix(in srgb, var(--accent-color), transparent 60%);
    transform: translateY(-3px);
    color: white;
}




/* Import vendor CSS */
@import "../public/vendor/bootstrap/css/bootstrap.min.css";
@import "../public/vendor/bootstrap-icons/bootstrap-icons.css";
@import "../public/vendor/aos/aos.css";
@import "../public/vendor/glightbox/css/glightbox.min.css";
@import "../public/vendor/swiper/swiper-bundle.min.css";
@import "../public/vendor/drift-zoom/drift-basic.css";

/* Import main CSS */
@import "../public/css/main.css";

/* Your custom styles */
/* ... */