/* @keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.animate-shimmer {
  animation: shimmer 1.4s infinite;
} */


.w-32.h-32{
  width: 25vw;
  height: 25vh;

}
.content{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}